branches:
  except:
    - gh-pages

skip_commits:
  message: /\[ci skip\]/

clone_depth: 10

max_jobs: 1

image:
  - Visual Studio 2022
  - Ubuntu2204

environment:
  deploy_key_secret:
    secure: oUQd0vmgGMlZagBkEVim8EJrEYXtW0gCnIE6PE+aDvZs9m139IrMDQNUKErg1iGw
  deploy_key_salt:
    secure: nP2YRfsA9mfQN7AkaoAzhvl5YwFZMzfA+oFQ+44CEf/jI0Datv+kjh6j0btMARyojsZF8dBRMKk1y8VnV+CtfQ==

  matrix:
    - TEST_SUITE: miktex-latest
      TEST_CATEGORY: regtest_win
      PROTODIR: proto_tl2025
      WARMUP_COMPILE: 1

    - TEST_SUITE: texlive-latest
      TEST_CATEGORY: regtest_linux
      PROTODIR: proto_tl2025

    - TEST_SUITE: texlive-latest
      TEST_CATEGORY: regtest_win
      PROTODIR: proto_tl2025

    - TEST_SUITE: texlive-2024
      TEST_CATEGORY: regtest_win
      PROTODIR: proto_tl2024

    - TEST_SUITE: texlive-2023
      TEST_CATEGORY: regtest_win
      PROTODIR: proto_tl2023

    - TEST_SUITE: texlive-2022
      TEST_CATEGORY: regtest_win
      PROTODIR: proto_tl2022


matrix:
  exclude:
    - image: Visual Studio 2022
      TEST_CATEGORY: regtest_linux

    - image: Ubuntu2204
      TEST_CATEGORY: regtest_win


for:
  - matrix:
      only:
        - image: Ubuntu2204
          TEST_CATEGORY: regtest_linux

    install:
      - git submodule update --init --recursive

      # Decrypt deploy key
      - sh: |
          source $HOME/venv3.12/bin/activate
          python -mpip install --upgrade pip 2>&1
          python -mpip install pycryptodomex
          deactivate
      - sh: |
          if [[ -z "$APPVEYOR_PULL_REQUEST_NUMBER" ]]; then
            echo "Decrypting deploy key"
            source $HOME/venv3.12/bin/activate
            python ult-base/ci/secure-file.py -decrypt ci/appveyor-deploy-key.enc -secret ${deploy_key_secret} -salt ${deploy_key_salt} -out "${HOME}/.ssh/id_rsa"
            deactivate
            chmod 600 "${HOME}/.ssh/id_rsa"
            echo "Testing deploy key"
            (ssh -o StrictHostKeyChecking=no -o ConnectTimeout=10 -vvvT -T git@github.com || true) 2>&1
          fi

      - sh: ult-base/ci/appveyor_linux_install_${TEST_SUITE}.sh
      - tlmgr conf

    build_script:
      - sh: make install CONTINUE=y
      - sh: sudo -i texhash

    test_script:
      - sh: |
          echo "Running ltxpect tests..."
          source $HOME/venv3.12/bin/activate
          (cd ult-base/test-scripts && python -munittest discover -s ltxpect -t ..)
          deactivate
          echo
          echo

      - sh: |
          source $HOME/venv3.12/bin/activate
          make -C test PYTHON=python PROTODIR=${PROTODIR}

    on_success:
      - sh: ci/appveyor_linux_after.sh 0

    on_failure:
      - sh: ci/appveyor_linux_after.sh 1


  - matrix:
      only:
        - image: Visual Studio 2022
          TEST_CATEGORY: regtest_win

    install:
      - git submodule update --init --recursive

      - ps: |
          $OldErrorActionPreference = $ErrorActionPreference
          $ErrorActionPreference = "Continue"
          py -3.12-64 -mpip install --upgrade pip 2>&1 | %{ "$_" }
          $ErrorActionPreference = $OldErrorActionPreference

      - ps: py -3.12-64 -mpip install pycryptodomex

      # Decrypt deploy key
      - ps: |
          $IsPullRequest = (Test-Path Env:APPVEYOR_PULL_REQUEST_NUMBER) -And $Env:APPVEYOR_PULL_REQUEST_NUMBER
          if (-Not $IsPullRequest) {
            Write-Host "Decrypting deploy key"
            py -3.12-64 ult-base\ci\secure-file.py -decrypt ci\appveyor-deploy-key.enc -secret $Env:deploy_key_secret -salt $Env:deploy_key_salt -out "$($Env:USERPROFILE)\.ssh\id_rsa"
            Write-Host "Testing deploy key"
            $OldErrorActionPreference = $ErrorActionPreference
            $ErrorActionPreference = "Continue"
            ssh -o StrictHostKeyChecking=no -o ConnectTimeout=10 -vvvT -T git@github.com 2>&1 | %{ "$_" }
            $ErrorActionPreference = $OldErrorActionPreference
          }

      - choco upgrade chocolatey -y --no-progress
      - refreshenv

      - choco install -y --no-progress imagemagick -PackageParameters LegacySupport=true
      - choco install -y --no-progress ghostscript

      - ps: |
          $GsPath = (gci 'C:\Program Files\gs' -Include 'bin' -Directory -Recurse | select -f 1).FullName
          $OldPath = [Environment]::GetEnvironmentVariable('path', 'machine')
          $NewPath = $OldPath + ';' + $GsPath
          [Environment]::SetEnvironmentVariable('path', $NewPath, 'machine')

      - choco install -y --no-progress xpdf-utils
      - refreshenv
      - set
      - compare -version
      - gswin64c -v
      - where pdfinfo
      - ps: |
          $OldErrorActionPreference = $ErrorActionPreference
          $ErrorActionPreference = "Continue"
          pdfinfo -v 2>&1 | %{ "$_" }
          if ($LastExitCode -ne 0 -And $LastExitCode -ne 99) {
            $host.SetShouldExit($LastExitCode)
          }
          $ErrorActionPreference = $OldErrorActionPreference

      - ps: . ".\ult-base\ci\appveyor_win_install_${env:TEST_SUITE}.ps1"
      - refreshenv
      - pdflatex -version

    build_script:
      - 'C:\msys64\usr\bin\bash.exe -e -l -c "cd $APPVEYOR_BUILD_FOLDER && make install CONTINUE=y"'
      - ps: |
          if (Test-Path -Path ".\ult-base\ci\appveyor_win_postinstall_${env:TEST_SUITE}.ps1") {
            . ".\ult-base\ci\appveyor_win_postinstall_${env:TEST_SUITE}.ps1"
          }

    test_script:
      - ps: Write-Host "Running ltxpect tests..."
      - 'C:\msys64\usr\bin\bash.exe -e -l -c "cd $APPVEYOR_BUILD_FOLDER && cd ult-base/test-scripts && py -3.12-64 -munittest discover -s ltxpect -t ..'
      - ps: |
          Write-Host
          Write-Host

      - 'C:\msys64\usr\bin\bash.exe -e -l -c "cd $APPVEYOR_BUILD_FOLDER && ulimit -n 3200 && make -C test PYTHON=\"py -3.12-64\" PROTODIR=${PROTODIR} WARMUP_COMPILE=${WARMUP_COMPILE}"'

    on_success:
      - ps: |
          try
          {
            . .\ci\appveyor_win_after.ps1 -TestResult 0
          }
          catch [Exception]
          {
            echo $_.Exception | FL -Force
          }

    on_failure:
      - ps: |
          try
          {
            . .\ci\appveyor_win_after.ps1 -TestResult 1
          }
          catch [Exception]
          {
            echo $_.Exception | FL -Force
          }
      # https://www.appveyor.com/docs/how-to/rdp-to-build-worker/
      # - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
