<header>
    <div class="container">
        <h5 class="logo">uit-thesis</h5>
        <nav class="main">
            <ul>
                {% if page.nav == "blog" %}
                    <li><a href="http://tybenz.com" class="active">Blog</a></li>
                {% else %}
                    <li><a href="http://tybenz.com">Blog</a></li>
                {% endif %}
                {% if page.nav == "about" %}
                <li><a href="http://tybenz.com/about" class="active">About</a></li>
                {% else %}
                <li><a href="http://tybenz.com/about">About</a></li>
                {% endif %}
                {% if page.nav == "projects" %}
                <li><a href="http://tybenz.com/projects" class="active">Projects</a></li>
                {% else %}
                <li><a href="http://tybenz.com/projects">Projects</a></li>
                {% endif %}
            </ul>
        </nav>
        <div class="nav-slider">
            <div class="nav-selection {{ page.nav }}"></div>
        </div>
        <div class="subnav-slider">
            <div class="subnav-selection {{ page.subnav }}"></div>
        </div>
        <nav class="subnav">
            <ul>
                {% if page.subnav == "exemplar-home" %}
                  <li><a href="/exemplar" class="active" data-subnav="exemplar-home">Home</a></li>
                {% else %}
                    <li><a href="/exemplar" data-subnav="exemplar-home">Home</a></li>
                {% endif %}
                {% if page.subnav == "exemplar-docs" %}
                    <li><a href="/exemplar/docs" class="active" data-subnav="exemplar-docs">Docs</a></li>
                {% else %}
                    <li><a href="/exemplar/docs" data-subnav="exemplar-docs">Docs</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>
